.titre-produit {
  margin-left: 880px;
  margin-top: -50px;
  
}
.liste-produits {
  margin-top: 1cm; /* Augmentez cette valeur selon vos besoins */
  height: auto;
  width: 100%;
}
.container-listeproduits{

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
