
@media only screen and (max-width: 767px) {
  .navbar-brand {
    margin-right: 0 !important;
  }

  .navbar-toggler {
    margin-right: 0 !important;
  }

  .navbar-collapse {
    margin-top: 15px;
  }

  .nav-link {
    display: block;
    padding: .5rem 1rem;
  }

  .user {
    margin-left: auto;
    margin-right: 0;
    
  }
  .panier {
    margin-left: auto;
    margin-right: 0;
    
  }
  
}
.bx-user-large {
  font-size: 2rem; /* ou toute autre taille souhaitée */
}

.panier-ajout{
  font-size: 2rem;
}

@media only screen and (min-width: 768px) {
  .user {
    margin-left: 5%;
  }
  
}

@media only screen and (min-width: 992px) {
  .user {
    margin-left: 10%;
  }
 
}

@media only screen and (min-width: 1200px) {
  .user {
    margin-left: 1163px;
  }
  
}


